<ion-view>
	<ion-content>
		<ion-list>
			<ion-item>
				<form ng-submit="getUserDetails(userName)">
					<lable class="item-input">
						<input
							ng-model="userName"
							type="text"
							name="userName"
							placeholder="User Name">
					</label>
					<button type="submit" class="button button-clear button-small">
						<i class="icon ion-ios-search dark"></i>
					</button>
				</form>
			</ion-item>
		</ion-list>
		<div ng-show="dataReady" class="list card">
			<div class="item item-avatar">
				<img ng-src="{{ userDetails.avatar_url }}" alt="{{ userDetails.name }}">
				<h2>{{ userDetails.name }}</h2>
				<p>{{ userDetails.public_repos }} Public Repos</p>
				<p>{{ userDetails.location }}</p>
			</div>
			<div class="item item-body">
				<p>{{ userDetails.bio }}</p>
				<p>
					<a class="subdued" target="_blank" href="{{ userDetails.html_url | linkCorrectionFilter }}">Visit</a>
					<a class="subdued" target="_blank" href="{{ userDetails.blog | linkCorrectionFilter }}">Website</a>
				</p>
			</div>
		</div>
		<ion-list ng-show="dataReady" id="FilteredByLanguage">
			<ion-item ng-repeat="repo in repos | langFilter:filterByLang" class="padding-vertical">
				<ion-item>{{ repo.name }}</ion-item>
				<div class="row">
					<div ng-repeat="lang in repo.usedLangs" class="padding-horizontal langContainer">
						<button ng-click="langFilter(lang)" ng-class="{ 'assertive': filterByLang === lang }" class="padding-horizontal button button-small">{{ lang }}</button>
					</div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
